@using Kombox.Models.Models;
@model List<Company>

<div class="card shadow border-0 mt-4 py-2">
    <div class="card-header ml-0 py-3">
        <div class="row pt-4 pb-4">
            <div class="col-6">
                <h2 class="text-primary px-4">
                    Company List
                </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create new Product
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-1 mb-lg-0">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-center">Actions</th>
                <th>ID</th>
                <th>CompanyID</th>
                <th>Company Name</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Phone Number</th>
            </tr>
            <tbody>
                @foreach (var obj in Model.OrderBy(or => or.CompanyId))
                {
                    <tr>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Company" asp-action="Edit" asp-route-id=@obj.CompanyId class="btn btn-primary mx-2">
                                    Edit
                                </a>
                                <a asp-controller="Company" asp-action="Delete" asp-route-id=@obj.CompanyId class="btn btn-danger mx-2" hidden>
                                    Delete
                                </a>
                                <a onclick="confirmDelete(@obj.CompanyId)" class="btn btn-danger mx-2">
                                    Delete
                                </a>
                            </div>
                        </td>
                        <td>@obj.CompanyId</td>
                        <td>@obj.CompanyName</td>
                        <td> @Html.Raw(@obj.StreetAddress)</td>
                        <td>@obj.City</td>
                        <td>@obj.State</td>
                        <td class="text-center">@obj.PostalCode</td>
                        <td class="text-center">@obj.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<br />
<br />
<br />
<br />

@* Este script Evita que la pagina recarge y se hagan las validaciones correspondientes *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}


<script>
    // Función para confirmar la eliminación
    function confirmDelete(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, se hace la solicitud DELETE
                deleteProduct(productId);
            }
        });
    }

    // Función para enviar la solicitud DELETE
    function deleteProduct(productId) {
        $.ajax({
            url: '/Admin/Company/Delete/' + productId,
            type: 'DELETE',
            success: function (data) {
                Swal.fire(
                    'Deleted!',
                    'The product has been deleted.',
                    'success'
                ).then(() => {
                    // Después de mostrar el mensaje, actualiza la página
                    window.location.reload();
                });
            },
            error: function (error) {
                Swal.fire(
                    'Error!',
                    'An error occurred while deleting the product.',
                    'error'
                );
            }
        });
    }
</script>

